* {
    padding: 0;
    margin: 0;
}
header{
    background: #181818;
    padding: 24px 0;
}
.container{
    max-width: 1200px;
    margin: auto;
}
header nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header a{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
}
header nav li{
    margin-left: 32px;
    transition: 0.4s;
}
header nav li:hover{
    transform: scale(1.2);
}
header nav li:first-of-type a{
    font-size: 13px;
}
header nav li:first-of-type a{
    margin-right: 24px;
}
header nav li:last-of-type a{
    color: #000000;
    background-color: #FFFFFF;
    border-radius: 14px;
    padding:11px 20px;
}
.top_list{
    background-image: url("../images/IMAGE.jpg");
    background-size: cover;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 70px;
    block-size: border-box;
    position: relative;
}
.container_im{
    max-width: 580px;
    text-align: center;
    margin: inherit;
}
.top_list .container_im h3{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
    padding-bottom: 1px;
}
.top_list .container_im h1{
    font-family: 'Poppins', sans-serif;    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 59px;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 18px;
}
.top_list .container_im p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #C0C0C0;
}
.main_b{
    padding-top: 113px;
    padding-bottom: 140px;
    background: #000000;
}
.first_b{
    max-width: 1200px;
    text-align: center;
    margin: auto;
}
.main_b div h2{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.main_b div h4{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    margin-bottom: 82px;
}
.foot_s{
    max-width: 1168px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.foot_s a{
    max-width: 128px;
    display: inline-block;
}
.foot_s .owl-stage{
    display: flex;
    margin: auto;
    align-items: center;
}
.owl-carousel .owl-item{
    padding: 0 0 0 50px;
}
.foot_s .owl-nav .owl-prev{
    position: absolute;
    left: -35px;
    top: 30px;
}
.foot_s .owl-nav .owl-prev:after{
    font-weight: 900;
    font-size: 40px;
    font-family: "Font Awesome 6 Free";
    content: "\f053";
    color: white;
    display: inline-block;
}
.foot_s .owl-nav .owl-next{
    position: absolute;
    right: -35px;
    top: 30px
}
.foot_s .owl-nav .owl-next:after{
    font-weight: 900;
    font-family: "Font Awesome 6 Free";
    content: "\f054";
    color: white;
    font-size: 40px;
    display: inline-block;
}
.sect_bloc{
    padding-top: 113px;
    padding-bottom: 108px;
    background-color: #000000;
}
.bloc_s{
    max-width: 571px;
    margin: auto;
    text-align: center;
}
.bloc_s h4{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.bloc_s h5 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    margin-bottom: 22px;
}
.btn_st{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.4px;
    color: #000000;
    background: #FFFFFF;
    border-radius: 14px;
    padding: 5px 4px 5px 4px;
    display: inline-flex;
    align-items: center;
}
.btn_st:before{
    display: inline-block;
    content: "";
    height: 32px;
    width: 32px;
    background-color: #000000;
    border-radius: 50%;
    margin-right: 5px;
}
 .container_2{
    max-width: 154px;
    margin: auto;
}
 .what_we_do{
     padding-top: 112px;
     padding-bottom: 100px;
     background-color: #000000;
 }
 .step{
     margin-bottom: 16px;

 }
 .what_we_do .container{
     max-width: 1168px;
 }
 .what_we_do h2{
     font-family: 'Poppins', sans-serif;
     font-style: normal;
     font-weight: 400;
     font-size: 40px;
     line-height: 42px;
     text-align: center;
     color: #FFFFFF;
     margin-bottom: 15px;
 }
 .what_we_do h3{
     font-family: 'Poppins', sans-serif;
     font-style: normal;
     font-weight: 400;
     font-size: 23px;
     line-height: 30px;
     text-align: center;
     color: #C0C0C0;
     margin-bottom: 42px;
 }
 .di_flex_container{
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
 }
 .what_we_do .di_flex_container article{
     max-width: 576px;
     max-height: 600px;
     position: relative;
     overflow: hidden;
 }
.what_we_do .di_flex_container article img{
    display: block;
    width: 100%;
}
.what_we_do .di_flex_container article .description{
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 30px 45px 30px 30px;
    box-sizing: border-box;
}
.what_we_do .description h4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.what_we_do .description  p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
    text-align: left;
    margin-bottom: 20px;
}
.what_we_do .di_flex_container article .description_two{
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 30px 32px 30px 30px;
    box-sizing: border-box;
}
.what_we_do .description_two h4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.what_we_do .description_two p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
    margin-bottom: 20px;
}
.btn_st{
    margin: 0;
}
.mountain{
    height: 600px;
    background-image: url("../images/IMAGE mo.jpg");
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}
.container_mo{
    max-width: 298px;
    margin-right: 62px;
}
.container_mo h5{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-bottom: 5px;
}
.container_mo p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
.green_sheet{
    height: 600px;
    background-image: url("../images/IMAGE sheet.jpg");
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}
.green_s{
    max-width: 298px;
    margin-right: 62px;
}
.green_s h5{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-bottom: 5px;
}
.green_s p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
.mountains_star{
    height: 600px;
    background-image: url("../images/IMAGE star.jpg");
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}
.star_s{
    max-width: 298px;
    margin-right: 62px;
}
.star_s h5{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-bottom: 5px;
}
.star_s p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
footer{
    padding-top: 92px;
    padding-bottom: 100px;
    background: #000000;
}
.fot_li{
    max-width: 1168px;
    margin: auto;
}
.firs_foot{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #FFFFFF;
}
.logo_s img{
    margin-bottom: 20px;

}
.logo_s{
    margin-right: 270px;
}
.logo_s p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #C0C0C0;
}
footer ul li:first-of-type a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
}
.colum_one li{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    margin-bottom: 10px;
    list-style: none;
}
.colum_one a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
}
.another{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
    margin-bottom: 10px;
    list-style: none;
}
.colum_two{
    margin-right: 102px;
    margin-bottom: 36px;
}
.colum_two a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
}
.colum_two li{
    margin-bottom: 10px;
}
.colum_input{
    padding-top: 36px;
    max-width: 1168px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    border-bottom:solid 1px;
    border-bottom-color: #FFFFFF;
    border-radius: 0px;
}
.colum_input h5{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-bottom: 20px;
}
.colum_input p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #C0C0C0;
    padding-bottom: 36px;
}
form{
    height: 52px;
    max-width: 458px;
    background: #F9FAFB;
    border: 1px solid #E5E7EB;
    border-radius: 12px;
    display: flex;
    justify-content: flex-end;
}
form input{
    width: 389px;
    border-radius: 12px;
    border: none;
}
form button{
    width: 63px;
    margin: 11px 6px 11px 0px;
    background: #000000;
    border-radius: 11px;
}
.colum_end{
    padding-top: 56px;
    max-width: 1168px;
    margin: auto;
}
.photog_aper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.photog_aper p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
.colum_end ul{
    display: flex;
    list-style: none;
    align-items: center;
}
.colum_end a{
    margin-right: 10px;
    margin-left: 10px;
}
.position_icon{
    position: absolute;
    right: 40px;
    bottom: 40px;
    display: flex;
    list-style: none;
}
.position_icon li{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    margin-left: 16px;
}
.position_icon li:before{
    content: "";
    display: inline-block;
    background-image: url("../images/Combined-Shape 7.svg");
    width: 16px;
    height: 16px;
    margin-right: 6px;
    position: relative;
    bottom: -5px;
}
.position_icon li:nth-child(2):before{
    background-image: url("../images/Combined-Shape77.svg");
}
.position_icon li:nth-child(3):before{
    background-image: url("../images/Combined-Shape777.svg");
    width: 32px;
}
.position_icon li:nth-child(4):before{
    background-image: url("../images/Fill-1.svg");
    width: 10px;
    height: 16px;
}
.we_use{
    background-color: black;
    position: relative;
}
.we_use .container{
    max-width: 1240px;
    min-height: 540px;
    display: flex;
    align-items: center;
    margin-left: 100px;
}
.we_use .information{
    max-width: 514px;
}
.we_use .information h4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
    margin-bottom: 6px;
}
.we_use .information h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    color: #FFFFFF;
    margin-bottom: 14px;
}
.we_use .information p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.we_use .banner_we-use{
    background-image: url("../images/IMAGE we.jpg");
    background-size: cover;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 50%;
    height: 100%;
}




















