* {
    padding: 0;
    margin: 0;
}
header{
    background: #181818;
    padding: 24px 0;
}
.container{
    max-width: 1200px;
    margin: auto;
}
header nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header a{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
}
header nav li{
    margin-left: 32px;
    transition: 0.4s;
}
header nav li:hover{
    transform: scale(1.2);
}
header nav li:first-of-type a{
    font-size: 13px;
}
header nav li:first-of-type a{
    margin-right: 24px;
}
header nav li:last-of-type a{
    color: #000000;
    background-color: #FFFFFF;
    border-radius: 14px;
    padding:11px 20px;
}
.top_list{
    background-image: url("../images/IMAGE.jpg");
    background-size: cover;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 70px;
    block-size: border-box;
}
.container_im{
    max-width: 580px;
    text-align: center;
    margin: inherit;
}
.top_list .container_im h3{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
    padding-bottom: 1px;
}
.top_list .container_im h1{
    font-family: 'Poppins', sans-serif;    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 59px;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 18px;
}
.top_list .container_im p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #C0C0C0;
}
.main_b{
    padding-top: 113px;
    padding-bottom: 140px;
    background: #000000;

}
.first_b{
    max-width: 100%;
 }
.main_b div h2{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.main_b div h4{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    margin-bottom: 82px;
}
.foot_s{
    display: flex;
    justify-content: space-between;
    margin: 100px 120px;
    align-items: center;
}
.foot_s a{
    background: black;
}
.sect_bloc{
    padding-top: 113px;
    padding-bottom: 108px;
    background-color: #000000;
}
.bloc_s{
    max-width: 571px;
    margin: auto;
    text-align: center;
}
.bloc_s h4{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.bloc_s h5 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    margin-bottom: 22px;
}
.btn_st{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.4px;
    color: #000000;
    background: #FFFFFF;
    border-radius: 14px;
    padding: 5px 4px 5px 4px;
    display: inline-flex;
    align-items: center;
}
.btn_st:before{
    display: inline-block;
    content: "";
    height: 32px;
    width: 32px;
    background-color: #000000;
    border-radius: 50%;
    margin-right: 5px;
}
 .container_2{
    max-width: 154px;
    margin: auto;
}
 .what_we_do{
     padding-top: 112px;
     padding-bottom: 100px;
     background-color: #000000;
 }
 .step{
     margin-bottom: 16px;

 }
 .what_we_do .container{
     max-width: 1168px;
 }
 .what_we_do h2{
     font-family: 'Poppins', sans-serif;
     font-style: normal;
     font-weight: 400;
     font-size: 40px;
     line-height: 42px;
     text-align: center;
     color: #FFFFFF;
     margin-bottom: 15px;
 }
 .what_we_do h3{
     font-family: 'Poppins', sans-serif;
     font-style: normal;
     font-weight: 400;
     font-size: 23px;
     line-height: 30px;
     text-align: center;
     color: #C0C0C0;
     margin-bottom: 42px;
 }
 .di_flex_container{
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
 }
 .what_we_do .di_flex_container article{
     max-width: 576px;
     max-height: 600px;
     position: relative;
     overflow: hidden;
 }
.what_we_do .di_flex_container article img{
    display: block;
    width: 100%;
}
.what_we_do .di_flex_container article .description{
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 30px 45px 30px 30px;
    box-sizing: border-box;
}
.what_we_do .description h4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.what_we_do .description  p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
    text-align: left;
    margin-bottom: 20px;
}
.what_we_do .di_flex_container article .description_two{
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 30px 32px 30px 30px;
    box-sizing: border-box;
}
.what_we_do .description_two h4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.what_we_do .description_two p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
    margin-bottom: 20px;
}
.btn_st{
    margin: 0;
}
.mountain{
    height: 600px;
    background-image: url("../images/IMAGE mo.jpg");
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.container_mo{
    max-width: 298px;
    margin-right: 62px;
}
.container_mo h5{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-bottom: 5px;
}
.container_mo p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
.green_sheet{
    height: 600px;
    background-image: url("../images/IMAGE sheet.jpg");
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.green_s{
    max-width: 298px;
    margin-right: 62px;
}
.green_s h5{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-bottom: 5px;
}
.green_s p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
.mountains_star{
    height: 600px;
    background-image: url("../images/IMAGE star.jpg");
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.star_s{
    max-width: 298px;
    margin-right: 62px;
}
.star_s h5{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-bottom: 5px;
}
.star_s p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}











